{% extends "base.html" %}
{% block content %}
<h4>Current Projects</h4>
<ul>
{% for project in projects %}
{% if project['corp'] == 'current'  %}
<li><a href="#{{project['projectName']}}"><b>{{project['projectName']}}</b>{% if project['subtitle'] is not none and project['subtitle'] != ''%} : {{project['subtitle']}}{% endif %}</a></li>
{% endif %}
{% endfor %}
</ul><br>

<h4>Past Projects</h4>
<ul>
{% for project in projects %}
{% if project['corp'] == 'past' %}
<li><a href="#{{project['projectName']}}"><b>{{project['projectName']}}</b>{% if project['subtitle'] is not none and project['subtitle'] != ''%} : {{project['subtitle']}}{% endif %}</a></li>
{% endif %}
{% endfor %}
</ul><br>


{% for project in projects%}

<h2><a id="{{project['projectName']}}" href="#{{project['projectName']}}">{{project['projectName']}}</a></h2>

{% if project['subtitle'] is not none and project['subtitle'] != ''%}
<h5><a href="#{{project['projectName']}}">{{project['subtitle']}}</a></h5>
{% endif %}

{% if project['project_website'] is not none and project['project_website'] != ''%}
<b>Website:</b> <a href="{{project['project_website']}}">{{project['project_website']}}</a><br>
{% endif %}


<b>People:</b>
{% for person in project['people'] %}
{% if loop.index != 1 %}
, 
{% endif %} 
{% if  person['people_website'] is not none and person['people_website'] != ''%}
<a href="{{person['people_website']}}">{{person['firstname']}} {{person['lastname']}}</a>
{% else %}
{{person['firstname']}} {{person['lastname']}}
{% endif %}
{% endfor %}<br>

<p>
	{{project['summary']}}
</p>

{% if project['news']|length > 0%}
{% for news in project['news']%}
<font color="red"><b>News: {{news['title']}}</b></font><br>
<p>{{news['summary']}}</p>
{% endfor %}
{% endif %}

{% if project['publication']|length > 0 %}
<b>Publications:</b>
<ul>
{% for publication in project['publication'] %}
<li>{% for person in publication['people']%}{% if loop.index != 1 %}, {%endif%}{{person['firstname']}} {{person['lastname']}}{%endfor%}. <a href="{{publication['link']}}">{{publication['publication_name']}}</a>. <i>{{publication['conference']}}</i>, {% if publication['location'] is not none and publication['location'] != ''%} {{publication['location']}}, {% endif %}{{publication['dates']}}.</li>
{% endfor %}
</ul>
{% endif %}

<br>
{% endfor %}

{% endblock %}
